.modal-footer,
.modal-header{
    padding: inherit !important;
}
body,
.card-body,
.modal-body{
    background-color: #023759;
}
.modal-footer {
    justify-content: space-between;
    background-color: #023759;
}

.btn-outline-warning{
  --bs-btn-color: #b9a46a;
  --bs-btn-border-color: #b9a46a;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #b9a46a;
  --bs-btn-hover-border-color: #b9a46a;
  --bs-btn-focus-shadow-rgb: 255, 193, 7;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #b9a46a;
  --bs-btn-active-border-color: #b9a46a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #b9a46a;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #b9a46a;
  --bs-gradient: none;
}

.btn-outline-warning:hover {
  background-color: #b9a46a;
  border-color: #b9a46a;
}

.dx-toolbar,
.dx-popup-content,
.card-header,
.modal-header{
  color: #b9a46a;
  background-color: #023759;
}

.dx-icon, dx-icon-close{
  background-color: #b9a46a;
}

.class-p,
.form-label,
#txtPassengerQty{
  color: #b9a46a;
}

.class-p{
  color: #fafafa;
  font-size: 25px;
  text-align: justify;
  text-justify: inter-word;
}

.dx-popup-content {
  font-size: 18px;
  
}

.caption {
  padding-top: 8px;
  padding-bottom: 2px;
  font-weight: 500;
}

.content {
  display: flex;
}

.dx-calendar-cell{
  font-weight: bold;
}

