.modal-footer,
.modal-header{
    padding: inherit !important;
}
body,
.card-body,
.modal-body{
    background-color: #4a4e38;
}
.modal-footer {
    justify-content: space-between;
    background-color: #4a4e38;
}

.card-header,
.modal-header{
  color: #ffc107;
  background-color: #4a4e38;
}

.form-label,
#txtPassengerQty{
  color: #ffc107;
}

.dx-popup-content {
  font-size: 18px;
  
}

.caption {
  padding-top: 8px;
  padding-bottom: 2px;
  font-weight: 500;
}

.content {
  display: flex;
}

.dx-calendar-cell{
  font-weight: bold;
}

